.footer-links {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 29px 30px 29px 0;

    @media (min-width: $tablet) {
      margin-right: 40px;
    }
  }

  i:before {
    font-size: 28px;

    @media (min-width: $tablet) {
      font-size: 32px;
    }
  }
}
